[submodule "pos-addons"]
	path = pos-addons
	url = https://github.com/it-projects-llc/pos-addons
[submodule "pos"]
	path = pos
	url = https://github.com/OCA/pos
[submodule "web"]
	path = web
	url = https://github.com/OCA/web
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue
[submodule "serpentcs"]
	path = serpentcs
	url = https://github.com/JayVora-SerpentCS/SerpentCS_Contributions
